@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-Regular.ttf) format("ttf");
}

:root {
  font-family: Poppins, sans-serif;
  
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  color: #ffffff;
  background-color: #646cff;
  border: 0;
  border-radius: 2px;
  width: 100%;
  font-size: 0.7rem;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.text-medium {
  font-size: medium;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.spacer {
  height: 16px;
}

.background-img {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 0;

  object-fit: cover;

  opacity: 0.5;
}

.container {
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  z-index: 1;
}

.completed {
  margin-right: 0.3rem;
}

.restart {
  position: absolute;
  top: 1em;
  left: 1em;

  display: flex;
  height: 0.8em;
  width: 0.8em;

  z-index: 2;
}
.restart:hover {
  cursor: pointer;
  opacity: 0.8;
}

.game-info {
  position: absolute;
  top: 1em;
  right: 1em;

  text-align: right;
  color: #242424;
  font-size: 0.6rem;
}

.display {
  text-align: center;
  color: #242424;
}

.interactive-sum {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;
  min-height: 9rem;
  min-width: 9rem;
  border-radius: 50%;
  background-color: #646cff;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.interactive-sum-show {
  animation: fadeIn 1.5s forwards;
}

.interactive-sum-hide {
  animation: fadeOut 1.5s forwards;
}

.interactive-stack {
  display: grid;
  /* grid-template-rows: repeat(2, 1fr); */
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.decrementor-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.decrementor-container:hover {
  cursor: pointer;
  opacity: 0.8;
}

.decrementor {
  width: 100%;

  border-radius: 2px;

  background-color: #646cff;
}

.decrementor-full {
  height: 24px;
}

.decrementor-mini {
  height: 4px;
  margin-top: 2px;
}

.incrementor {
  padding: 8px;
}

.top-section {
  flex: 1;
  margin-top: 1.5rem;
}

.mid-section {
  flex: 1;
}

.bottom-section {
  margin-bottom: 1.5rem;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.life {
  width: 1rem;
  height: 1rem;
}

.alert {
  position: fixed;
  top: 0.5em;
  left: 50%;
  transform: translateX(-50%);

  text-align: left;
  font-size: 0.6rem;

  padding: 2px 4px;

  border: 1px solid #ffffff;
  border-radius: 4px;
}

.alert-success {
  background-color: green;
  color: #ffffff;
}

.alert-fail {
  background-color: red;
  color: #ffffff;
}
